@import url('https://fonts.googleapis.com/css?family=Girassol|Ubuntu:400&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

a {
    color: #ff6600;
    text-decoration: none;
}
.logo {
    float: left;
    width: 25%;
    color: #fff;
    max-height: 5rem;
    font-family: Girassol;
    vertical-align: center;
    margin: .15em 0 0 1em;
}

.logo::first-letter {
    font-size: 1.5em;
    color: #f60;
}
header {
    display:block;
    height: 5rem;
    -moz-box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.75);
    background-color: #222;
}
nav {
    float: right;
    font-size: 1.2rem;
    height: 100%;
    overflow: hidden;
}
nav ul {

    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    height: 100%;


}
nav ul li {
    display: inline-block;
    vertical-align: center;
    height: 100%;
    transition: background-color 1s;
}
nav ul li a {
    display: block;
    padding: 1.5em;
    vertical-align: center;
    font-family: Ubuntu, sans-serif;
    color: #fff;


}

nav ul li:hover {
    background-color: #000;
}
#sale {
    color: #ff6600;
}

.banner_image {
    height:40em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner.jpg");
    background-repeat: repeat-x;
    background-position: center;
}

h1.banner {
    font-size: 3rem;
    font-family: Ubuntu, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 0.6em;
}

.flex-container {
    display: flex;
}

#featured {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    height: 55%;
}

.item-card {
    flex-basis: 15%;
    background-color: #fff;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;
    padding: .75em;
    color: #222;
    transition: background-color .75s;
    min-width: 190px;
}
.item-card img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.item-card:hover {
    background-color: #ffc599;
}

@media screen and (max-width: 1060px) {
    nav {
       background-color: #333;
        height: 92%;
        float: bottom;
        width: 100%;
    }
    header {
        height: 80%;
    }
    .logo {
        margin: 0 auto;
        display: block;
        float: none;
        padding: .5em;
    }
    nav ul li {
        height: auto;
        width: 100%;
        overflow: visible;
        display: block;
        border: #222 1px solid;
    }
    nav ul li a {
        text-align: center;
        font-size: 1.5rem;
    }



}