@import url('https://fonts.googleapis.com/css?family=Girassol|Ubuntu:400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

h1 {
    margin: 0;

}

a {
    color: #ff6600;
    text-decoration: none;
    margin: 0;
}
label {
    font-family: Ubuntu, sans-serif;
    padding: 1em;
}

input:not([type=submit]) {
    font-size: 1rem;
    padding: .4em;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid #333;
    transition: border-bottom-color .3s, border-bottom-width .3s;
}

input:not([type=submit]):focus {
    border-bottom: solid #ff6600 3px;
    outline: none;
}
input[type=submit] {
    padding: .7rem;
    font-size: 1.1rem;
    border-radius: 5px;

}

#newsletter-submit {
    display: block;
    width:30%;
    margin: 5em auto 0;
    background-color: #fff;
    border: solid 5px #ff6600;
    color: #ff6600;
    font-weight: bold;

    transition: box-shadow .7s;
}

#newsletter-submit:hover {
    -webkit-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.75);
}

#newsletter-submit:active {
    background-color: #ff6600;
    color: #fff;
}

.email-container {
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

.newsletter-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 40%;
    margin-top: -15%;
    margin-left: -20%;
    background-color: #fff;
    border-radius: 1em;
    border: #2f4fad dashed 0.5em;
}

.newsletter-popup h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
}

.logo {
    float: left;
    color: #fff;
    max-height: 5rem;
    font-family: Girassol;
    vertical-align: center;
    margin: .15em 0 0 1em;
}

.logo::first-letter {
    font-size: 1.5em;
    color: #f60;
}
header {
    display:block;
    height: 5rem;
    -moz-box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 7px -2px rgba(0,0,0,0.75);
    background-color: #222;
    position: sticky;
}
nav {
    float: right;
    font-size: 1.2rem;
    height: 100%;
    overflow: hidden;
}
nav ul {

    padding: 0;
    list-style-type: none;
    margin: 0 auto;
    height: 100%;


}
nav ul li {
    display: inline-block;
    vertical-align: center;
    height: 100%;
    transition: background-color 1s;
}
nav ul li a {
    display: block;
    padding: 1.5em;
    vertical-align: center;
    font-family: Ubuntu, sans-serif;
    color: #fff;


}

nav ul li:hover {
    background-color: #000;
}
#sale {
    color: #ff6600;
}

.banner_image {
    height:45em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h1.banner {
    font-size: 3rem;
    font-family: Ubuntu, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 0.6em;
}

.flex-container {
    display: flex;
}

#featured {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    height: 55%;
}

.size {
    position: absolute;
    padding: 0;
    top: 5px;
    left: 2em;
}

aside {
    float: left;
    width: 15%;
    padding-right: 5%;
}



.container {
    display: inline-block;
    position: relative;
    left: 3em;
    top: 1em;
    height: 2.25em;
    width: 30%;
}

.catname {
    display: block;
    padding: .25em;

}

.container input {
    tab-index: -1;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    tab-index: 0;
    position: absolute;
    height: 1.1em;
    width: 1.1em;
    border: 3px solid #f60;
    transition: background-color .5s;
    margin-right: 1em;
}

.container input ~ .checkmark:hover {
    background-color: #f60;
}

.container input:checked ~ .checkmark {
    background-color: #ff6600;
}

.checkmark:after {
    left: 6px;
    width: 5px;
    height: 10px;
    top: 1px;
    content: "";
    position: absolute;
    display: none;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.item-card {
    flex-basis: 10%;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 9px;
    font-family: Ubuntu, sans-serif;
    padding: .75em;
    color: #222;
    transition: color .75s, box-shadow .75s, border-width, .75s;
    min-width: 190px;
    max-width: 15%;
    margin-bottom: 1em;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.item-card img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.item-card:hover {
    /*background-color: #aaa;*/
    color: #f60;
    border: 4px solid #f60;
    -webkit-box-shadow: 4px 2px 3px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 11px 3px 3px rgba(0,0,0,0.7);
    box-shadow: 2px 6px 3px 3px rgba(0,0,0,0.7);


}

footer {
    background-color: #333;
    color: #aaa;
    font-family: Ubuntu,sans-serif;
    height: 16rem;
}

.cp {
    displaY: block;
    font-size: .7rem;
    padding-top: 14.5rem;
    padding-left: 1em;
    color: #777
}


a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}

a[href^="mailto:"]:before {
    content: "\2709";
    margin-right: .5em;
    font-size: 1.3em;
}

footer a:before {
    color: #aaa;
}

.contact {
    text-align: right;
    width: 30%;
    float: right;
    padding: 2rem;
    margin-top: 2em;
}

#mail, #phone, address {
    display: block;
    padding: .5em;
}
#catalogue {
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem;
    padding: 1em;
}

.product-search {
    flex-wrap: wrap;
}

.product-search .item-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}




@media screen and (max-width: 1060px) {
    nav {
       background-color: #333;
        height: 92%;
        width: 100%;
        float: none;
    }
    header {
        height: auto;
        position: static;
    }
    .logo {
        margin: 0 auto;
        display: block;
        float: none;
        padding: .5em;
    }
    nav ul li {
        height: auto;
        width: 100%;
        overflow: visible;
        display: block;
        border: #222 1px solid;
    }
    nav ul li a {
        text-align: center;
        font-size: 1.5rem;
    }

    .banner_image {
        display: block;
    }



}

@media screen and (max-width: 440px) {
    .banner_image {
        height: 80rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner-v.jpg");
        background-position: right;
    }

    .contact {
        width: 100%;
    }
}